.date-header {
    font-size: 0.75rem;
    font-style: italic;
    font-weight: 400;
}

table td.shift-cell-td {
    padding: 0;
}

.shift-cell {
    padding: 0.125rem 0.25rem;
    font-size: 0.75rem;
    height: 5.25rem;
    margin: 0.125rem;
    border-radius: 0.125rem;
    box-shadow: 0 0 0.25rem 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;

    .shift-edit {
        font-weight: 700;
    }

    .role-name {
        font-weight: 600;
        font-size: 1rem;
    }

    .rest-wrap {
        font-weight: 600;

        &.danger {
            background-color: #8c0808;
            color: white;
            border-radius: 0.125rem;
        }
    }

    hr {
        margin: 0;
    }
}

.shift-cell-th, .shift-cell-td{
    &:nth-child(2), &:nth-child(10){
        opacity: 0.5;
    }
}